.contain {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.main__content {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .main__content {
    margin-left: 50px;
  }
}

.sidebar {
  background: rgb(248, 249, 250);
  color: gray;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  overflow-y:scroll;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.bars {
  display: flex;
  font-size: 20px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: gray;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
}
.link:hover {
  transition: all 0.5s;
}
.active{
  /* background: whitesmoke; */
  background-color:white;
  color: #000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}
.link_text {
  font-size: 16px;
}

.icon {
  font-size: 18px;
  background: #fff;
}
 