 
.contain{
  display:flex;
}
@media(max-width:900px){
  .contain{
    width:100px;
    padding-right:10px;
  }
  .link_text{
    font-size: 8px;
    font-weight:normal;  
  }
  .icon{
    font-size: 10px;
  }
  .top_section{
    padding:30px 8px;
  }
}
 
.sidebar{
  color: gray;
  min-height: 100vh;
  width: 100vh;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
 
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: gray;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  transition: all 0.5s;
}
.active{
  background:#fff;
  color: rgb(33, 32, 32);
  border-radius: 15%;
}
.link_text{
  font-size: 20px;
  font-weight:500;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.icon{
  font-size: 20px;
}